<div class="container">
    <div class="wrap-product-grid padding-2">
        <div class="block">
            <img src="https://cdn.shopify.com/s/files/1/1367/5201/products/ArrivalZipUpHoodieSportsRedGMHD5508.A-Edit_CM_800x.jpg?v=1620066875" alt="" class="display-img">
            <div class="title">Arrival Zip Up Hoodie</div>

            <div class="variant">Red</div>

            <div class="wrapper-price">
                <div class="price">31.50$</div>
                <div class="compare-price">45$</div>
            </div>
            
        </div>
        <div class="block-grid">
            <img src="https://cdn.shopify.com/s/files/1/1367/5201/products/ArrivalZipUpHoodieSportsRedGMHD5508.A-Edit_CM_800x.jpg?v=1620066875" alt="" class="display-img">
            <div class="title">Arrival Zip Up Hoodie</div>

            <div class="variant">Red</div>

            <div class="wrapper-price">
                <div class="price">31.50$</div>
                <div class="compare-price">45$</div>
            </div>
            
        </div>
        <div class="block-grid">
            <img src="https://cdn.shopify.com/s/files/1/1367/5201/products/ArrivalZipUpHoodieSportsRedGMHD5508.A-Edit_CM_800x.jpg?v=1620066875" alt="" class="display-img">
            <div class="title">Arrival Zip Up Hoodie</div>

            <div class="variant">Red</div>

            <div class="wrapper-price">
                <div class="price">31.50$</div>
                <div class="compare-price">45$</div>
            </div>
            
        </div>
    </div>
</div>
